<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="octocub" translate="label" sortOrder="10">
            <label>octocub</label>
        </tab>
        <section id="demo" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Purge Varnish Cache</label>
            <tab>octocub</tab>
            <resource>Octocub_PurgeVarnishCache::config_demo</resource>
            <group id="configuration" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Purge Varnish Cache</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="port_number" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Port Number</label>
                    <comment>Add your port number here. We are using 443 by default.</comment>
                </field>
                <field id="listbutton" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <comment>*Please save configuration before click on Purge button.</comment>
                    <frontend_model>Octocub\PurgeVarnishCache\Block\System\Config\Form\Button</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>